
.detail-box {
    position: absolute;
    top: 80px; 
    left: 70%; 
    transform: translateX(20px);
    background-color: #bea766;
    border: 1px solid #ccc;
    padding: 50px;
    z-index: 9999; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .detail-box h3 {
    margin-top: 0; 
  }
  
  .detail-box p {
    margin-bottom: 0; 
  }
  
